h1{
    text-align: center;
}
.pic1{
    display: flex;
    text-align: center;
    margin: 3%;
    border-style: dotted;
    width: fit-content;
}

.pic2{
    display: flex;
    text-align: center;
    margin: 3%;
    border-style: dotted;
    width: fit-content;

}

.pic3{
    display: flex;
    text-align: center;
    margin: 2%;
    border-style: dotted;
    width: fit-content;

}

.cap1{
    padding: 3%;
}

.cap2{
    padding: 3%;
}

.cap3{
    padding: 3%;

}

.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
  }

  p{
    font-family: "Tangerine", cursive;
    font-size: 250%;
  }
body{
    background-color: #CDB585;
}
h1{
    background-color: #99855d;
    margin: -8px;
    padding: 18px;
} 

